<?xml version="1.0" encoding="utf-8"?>
<model version="NetLogo 7.0.0" snapToGrid="true">
  <code><![CDATA[{{ code }}]]></code>
  <widgets>
  {% for widget in widgets %}
    {{ widget | safe }}
  {% endfor %}
  </widgets>
  {% if info_text %}
  <info>{{ info_text }}</info>
  {% endif %}
</model>
